.sliderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 480px;
}

.sliderWindow {
  max-width: 250px;
  overflow-x: scroll;
  overflow-y: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.sliderWindow::-webkit-scrollbar {
  width: 0;
}

.list {
  display: flex;
  padding: 0;
}

.listItem {
  list-style-type: none;
}

.buttonWrapper {
  height: 145px;
}

@media (max-width: 490px) {
  .sliderContainer {
    width: auto;
  }
}
