.sliderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 480px;
}

.sliderWindow {
  max-width: 335px;
  min-width: 335px;
  height: fit-content;
  overflow: hidden;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.sliderWindow::-webkit-scrollbar {
  width: 0;
}

.list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  transition: transform 0.3s;
}

.listItem {
  list-style-type: none;
  margin-right: 5px;
}

.listItem:last-child {
  margin-right: 0;
}

.buttonWrapper {
  width: 30px;
  height: 60px;
}

@media (max-width: 490px) {
  .sliderWindow {
    max-width: 95vw;
    min-width: 95vw;
  }

  .sliderContainer {
    width: auto;
  }
}
